<!DOCTYPE html>
<html>
  <head>
    <title>RailsCitlyBb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script type="text/javascript">
      window.loader = "<%= image_url('load.gif') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
